<header>
    <div class="top-header">
        <div class="logo">
            <a href="">MusicReviews</a>
        </div>

        <nav>
            <ul>
                <li>
                    <a href="" class="nav-link">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="false">Home</span>
                    </a>
                </li>
                <li>
                    <a href="about" class="nav-link">
                        <span class="" aria-hidden="false">About</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>