@page "/login"

<div class="login">
    <EditForm Model="@user">

    </EditForm>
</div>

@code {
    private bool register;
    private User user;

    protected override void OnInitialized()
    {
        register = false;
    }

    private void ToggleRegister()
    {
        register = !register;
        Console.WriteLine(register);
    }
}