html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #242020;
    color:#ffffff
}

.header {
    background-color: #000000;
    color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    z-index: 1000;
}

.start {
    display: flex;
    float: left;
    justify-content: space-between;
    height: 100%;
}

.end {
    display: flex;
    float: right;
    justify-content: space-between;
    height: 100%;
}

.logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 10px;
    align-self: center;
}

.nav-tab {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0px 10px;
    height: 100%;
    align-content: center;
}

.nav-tab.active {
    background-color: #444444;
    color: #ffffff;
}

.nav-text {
    align-self: center;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album {
    border: 1px solid #ffffff;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 200px;
    transition: transform 0.2s;
}

.album:hover {
    transform: scale(1.05);
}

.album-cover {
    width: 200px;
    height: 200px;
    position: relative;
    top: -2px;
}

.album-title {
    font-size: 0.9em;
    margin: 10px;
    font-style: italic;
}

.album-artist {
    font-size: 0.7em;
    margin: 10px;
}